<div class="product" *ngFor="let product of products; trackBy: trackById">
  <div class="product_main">
    <p>Книга</p>
    <div><span>Имя: </span><span>{{product?.name}}</span></div>
    <div><span>Описание: </span><span>{{product?.description}}</span></div>
    <div><span>Цена: </span><span>{{product?.price}}</span></div>
    <div><span>Категория: </span><span>{{product?.category}}</span></div>
  </div>
  <button *ngIf="product.isAvailable; else disabledButton" class="buyButton" (click)="onAddToCart(product)">Buy</button>
  <ng-template #disabledButton>
    <button disabled class="buyButton" (click)="onAddToCart(product)">Buy</button>
  </ng-template>
</div>
